@media screen and (max-width:768px){
    .plan{
        width: 80%;
    }

    .key-features__list li {
        width: 260px;
    }
}

@media screen and (max-width:426px){
    #product-overview h1 {
        left: 27px;
        font-size: 1.0rem;
    }

    .highlighted-plan .tag {
        padding: 10px 62px;
        left: -73px;
    }

    #key-features__title {
        font-size: 1.7rem;
    }

    #product-overview {
        height: 75vh;
        position: relative;
    }

    .key-features__list p {
        font-size: 1.2rem;
    }
}