body{
    background: url('../images/plans-background.jpg') center center/cover no-repeat fixed;
}

main{
    padding-top: 4.25rem;
    margin: 2.5rem 0rem;
}

@keyframes package {
    0%{
        transform: skew(0deg);
    }
    25%{
        transform: skew(3deg);
    }
    50%{
        transform: skew(-3deg);
    }
    75%{
        transform: skew(-3deg);
    }
    100%{
        transform: skew(-3deg);
    }
}

.package{
    background: #b9d9c6ef;
    border: 4px solid #0A511C;
    padding: 50px 30px;
    margin: 30px 6vw;
    color: black;
    clear: both;
    width: 75vw;
    /* height: 35vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.package:hover{
    border: 4px solid #FE1B68;
    animation: package 0.9s ease-in-out alternate infinite;
}

.package__title{
    color: black;
}

.package__subtitle{
    font-size: 1.5rem;
    color: #747672;
    margin: 20px 0px;
}

.package__info{
    background: white;
    color: #747672;
    border: 2px solid #0A511C;
    padding: 20px;
    padding-right: 140px;
}

.package__badge{
    position: absolute;
    top: 35px;
    right: -70px;
    background: #FE1B68;
    color: white;
    padding: 10px 60px;
    transform: rotate(35deg);
}

#free{
    float: right;
    text-align: right;
    align-items: flex-end;
}

#free .package__info{
    padding-right: 20px;
}